/***** BASE STYLES *****/

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #313131;
}

/***** GRID STYLES *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER *****/

header {
    height: 150px;
}

header .full-width {
    padding: 50px 100px 0px 100px;
}

header img {
    max-width: 60px;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #313131;
    padding-left: 22px;
}

header h5 {
    text-align: right;
    padding: 615px 0 0 0;
}

header h5 span {
    font-weight: lighter;
}

/***** HOME *****/

#home {
    height: 450px;
}

#home h1 { 
    font-size: 100px;
    text-align: center;
    color: #FFC52E;
    padding: 105px;
}

/***** ABOUT *****/

#about {
    height: 450px;
}

#about .content {
    width: 780px;
    margin: auto; 
    padding-top: 70px;
}

#about h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: #FFC52E;
    font-size: 100px;
    line-height: 0%;
}

#about img {
    filter: grayscale(100%);
    float: left;
    max-width: 150px;
}
 
#about p {
    text-align: left;
    font-size: 20px;
    line-height: 130%;
    float: left;
    letter-spacing: .1px;
}

#headshot {
    float: left;
    padding-right: 30px;
}

#info {
    float: left;
    width: 600px;
}

/***** PORTFOLIO *****/

#portfolio {
    height: 400px;
}

#portfolio .container {
    padding: 0px;
}

#portfolio h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: #FFC52E;
    font-size: 100px;
    line-height: 0%;
}

#portfolio h4 {
    font-size: 30px;
    text-align: center;
    line-height: 90%;
}

#portfolio p {
    text-align: center;
    color: #e6e6e6;
    font-weight: 700;
}

#portfolio span {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

#portfolio img {
    filter: grayscale(100%);
    padding-left: 73px;
    max-width: 250px;
}

/***** CONTACT *****/

#contact {
    height: 475px;
}

#contact .container {
    padding: 0px;
}

#contact .content {
    width: 600px;
    margin: auto;
    padding-top: 20px;
}

#contact h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: #FFC52E;
    font-size: 100px;
    line-height: 0%;
}

#contact p {
    font-size: 50px;
    text-align: center;
    line-height: 0%;
}

#contact img {
    max-width: 30px;
}

#contact ul {
    list-style: none;
    padding-top: 75px;

}
#contact ul li {
     display: inline-block;
}

#contact ul li a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px; 
    padding-left: 77px;
}



